button {
    display: inline-block;
    width: 80px;
    height: 50px;
    margin: 3px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: beige;
    font-family: 'Orbitron';
}

.screen {
    width: 345px;
    height: 80px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    background-image: linear-gradient(to left, lightcyan, white);
    font-size: 32px;
    direction: rtl;
    text-indent: 20px;
    font-family: 'Orbitron';
}

.operator {
    background-color: orange;
}

.equals {
    background-color:limegreen;
}

.clear {
    background-color:red;
}

.clear:hover {
    background-color:rgb(190, 1, 1);
}

.equals:hover {
    background-color:rgb(1, 170, 1);
}

.operator:hover {
    background-color: rgb(223, 146, 3);
}

button:hover {
    background-color: rgb(209, 209, 189)
}

.calculator {
    background-image: linear-gradient(to left, cornflowerBlue, rgb(26, 105, 253));
    width: 356px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}